@model IEnumerable<Mentors.Models.Tecnology>
@{
    Layout = null;
}

<!Doctype html>
<html>
<head>
    <title>
        Add new mentor
    </title>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>
</head>
<body>
    <form asp-controller="Home" asp-action="AddMentor">
        <div>
            <div class="validation" asp-validation-summary="All"></div>

            <div>
                Name: <input type="text" value="" name="Name" />               
            </div>

            <div>
                Surname: <input type="text" value="" name="Surname" />
            </div>

            <div>
                Age: <input type="number" value="" name="Age" />
            </div>

            <div>
                Place of work: <input type="text" value="" name="PlaceOfWork" />
            </div>

            <div>
                Max student count: <input type="number" value="" name="MaxStudentCount" />
            </div>

            <div>
                Experience: <input type="number" value="" name="ExperienceInYear" />
            </div>

            <div>
                Country <input type="text" name="Country" />
            </div>

            <div>
                City <input type="text" name="City" />
            </div>

            <div>
                StudyPlace <input type="text" name="StudyPlace" />
            </div>

            <div>
                Email <input type="text" name="Email" />
            </div>

            <div>
                Phone <input type="number" name="Phone" />
            </div>

            <div>
                Vk <input type="text" name="Vk" />
            </div>

            <div>
                Facebook <input type="text" name="Facebook" />
            </div>

            <div>
                LinkedIn <input type="text" name="LinkedIn" />
            </div>

            @foreach (var t in Model)
            {
                @t.Name <input type="checkbox" name="@t.Id " value="@t.Name" />
            }

            <p><input type="submit" name="Submmit" />
        </div>
    </form>







</body>
</html>