@model IEnumerable<Mentors.Models.DTO.MentorStudentDTO>
@{
    Layout = "_Layout";
    
}

<!Doctype html>
<html>
<head>
    <title>
        Mentors and their students
    </title>
</head>
<body>
    <p><a asp-controller="Home" asp-action="MentorStudent">Mentors with Students</a></p>
    <p><a asp-controller="Home" asp-action="Mentors">Mentors</a></p>
    <p><a asp-controller="Home" asp-action="Students">Students</a></p>
    <p><a asp-controller="Home" asp-action="FindMentor">Find Mentor</a> </p>
</body>
</html>    